
#start {
    text-align: center;
}

.container img {
    max-height: 100%;
    max-width: 100%;
}

.attributes {
    font-weight: bold;
}

img {
    width: 400px; 
    height: 600px;
    object-fit: cover;
}

.card {
    margin-top: 8vh;
}

#next {
    margin-top: 8vh;
}